@model MVC2.Models.appointment
@*@model MVC2.Models.broker
@model MVC2.Models.customer*@
@{
    ViewBag.Title = "AddAppointment";
}

<h2>AddAppointment</h2>

<form method="post" action="#" name="appointment">
    @Html.DropDownList("idBroker", null, htmlAttributes: new { @class = "form-control" })
    <p><label for="customer">Nom et Prenom du Client</label>@Html.DropDownList("idCustomer", null, htmlAttributes: new { @class = "form-control" })</p>
    <div>
        <label for="start">Date du rendez-vous:</label>
        @*<input id="date" type="date" value="choisir l'heure" min="2019-02-13">*@
        <input type="date" id="start" name="trip-start" value="2019-07-22" min="2019-01-01" />
        <select name="horaire" id="horaire">
            <option>09:00</option>
            <option>10:00</option>
            <option>11:00</option>
            <option>12:00</option>
            <option>14:00</option>
            <option>15:00</option>
            <option>16:00</option>
            <option>17:00</option>
        </select>
    </div>
    <p>
        <input type="submit" value="MARCHEEEUUUUH" class="btn btn-default btn-dark btn-outline-red" />
    </p>
</form>
<div id="ol" hidden></div>