@model MVC2.Models.customer
@{
    ViewBag.Title = "DeleteCustomer";
}
<a href="~/Views/Customer/ListCustomer.cshtml" class="text-dark">revenir en arrière</a>
<form action="#" method="post" name="profilCustomer" class=" offset-1 pt-4">
    <h1 class="">Vous êtes sur de vouloir vraiment supprimer ce client ? </h1>
    @*@Html.AntiForgeryToken()*@
    @Html.HiddenFor(model => model.idCustomer)
    <p class="form-row">
        <label for="lastName">Nom : </label>
        <input type="text" name="lastName" id="lastName" class="form-control ml-3" value="@Model.lastName" />
    </p>
    <p class="form-row">
        <label for="firstName">Prénom : </label>
        <input type="text" name="firstName" id="firstName" class="form-control ml-3" value="@Model.firstName" />
    </p>
    <input type="submit" value="Supprimer" class="btn btn-default btn-dark btn-outline-red" />
</form>
